.container {
    z-index: 500;
    color: white;
    padding: 0px;
    margin: 4px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


    div.but {
        width: 80%;
        display: flex;
        justify-content: space-between;
        padding: 0px;
        margin: 0px 10px;

        button {
            margin: 0px 4px;
        }
    }

    p {
        padding: 0px;
        margin: 4px;
    }

    p.dis {
        color: blue;
        font-size: 20px;
    }
}

@media screen  and (min-width: 720px) {
    .container {
        div.but {
            width: 60%;
            margin: 3px;
    
            button {
                margin: 0px 6px;
                height: 50px;
                border-radius: 30px;
                font-size: 18px;
            }
        }
    
        p {
            margin: 5px;
            font-size: 20px;
        }
    
        p.dis {
            font-size: 28px;
        }
    }
}