.container {
    z-index: 500;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    margin: 5px;

    h3 {
        font-family: cursive;
        font-size: 30px;
        padding: inherit;
        margin: inherit;
    }

    div.box {
        width: 100%;
        box-shadow: inset -2px 2px 10px white;
        border-radius: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 70px;
        margin: 5px 0px;
        padding: inherit;

        p {
            padding: 0px;
            margin: 0px;
            font-size: 20px;
        }

        div {
            color: blue;
            font-size: 30px;
        }
    }

    div.action {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    div.skip {
        width: 100%;
        text-align: center;
    }

    button {
        margin: 8px;
    }
}

@media screen  and (min-width: 720px) {
    .container {
        width: 100%;

        div.action {
            margin: 3px;
    
            button {
                margin: 4px 6px;
                height: 50px;
                border-radius: 30px;
                font-size: 18px;
                width: 30%;
            }
        }

        div.skip {
            button {
                margin: 4px 6px;
                height: 50px;
                border-radius: 30px;
                font-size: 18px;
                width: 30%;
            }
        }
        
        div.box {
            width: 60%;
        }
    }
}